/*도움말2 */

#title{
    text-align: center;
    margin: 0 auto; 
    margin-top: 25px;
    font-size: 4em;
    font-family: 'Jua', sans-serif;
}
#rule{
    text-align: center;
    margin-top: 30px;
    font-family: 'Jua', sans-serif;
    font-size: 2em;
}
#before_btn{
    width: 80px;
    height: 50px;
    margin-left: 70px;
    position: absolute;
    bottom: 120px;
    float: left;
}