/*도움말1 */

/*body{
    background-image: url('../img/paper2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}*/

#goMain_btn{
    position: relative;
    margin: 40px;
}

#disc{
    text-align: center;
    margin: 0 auto; 
    margin-top: -9px;
    width: 80%;
    height: 900px;
    font-size: 5em;
    font-family: 'Jua', sans-serif;
}

#story{
    font-family: 'Black Han Sans', sans-serif;
    margin-top: 100px;
    font-size: 50px;
}

#runningMan{
    position: absolute;
    bottom: 105px;
    float: left;
}

#next_btn{
    width: 80px;
    height: 50px;
    margin-right: 70px;
    position: absolute;
    right: 50px;
    bottom: 120px;
}


