    /* 메인 화면 */
    
    /*폰트*/
    @font-face {
        font-family: 'cooper';
        src: url('CooperFiveOpti.otf');
    }

    /*배경*/
    body {
        background-color: RGB(255,255,153); 
        background-image: url('../img/main/햄버거감튀.png'),url('../img/main/콜라치킨.png'),url('../img/main/콜라치킨.png'),url('../img/main/콜라치킨.png'),url('../img/main/햄버거감튀.png'),
        url('../img/main/콜라치킨.png'),url('../img/main/햄버거감튀.png'),url('../img/main/콜라치킨.png'); 
        background-position: 0px 0px, 70px 100px, 0px 200px, 70px 300px, 0px 400px, 70px 500px, 0px 600px, 70px 800px;
        background-repeat: repeat-x;
        background-size: 300px;  
            animation: displace 4s linear infinite;
        }
        @keyframes displace {
            from { background-position: 0px 0px, 70px 100px, 0px 200px, 70px 300px, 0px 400px, 70px 500px, 0px 600px, 70px 800px;
            } to { background-position: center 1200px;
        }
    }

    /*타이틀*/
    #title{
        margin: 150px auto auto auto;
        font-size: 9em;
        font-family: 'Luckiest Guy', cursive;
        color: #41A541;
        text-align: center;
        /*text-shadow:  8px 13px rgba(0, 0, 0, 0.16) ;*/
        text-shadow: -5px 0  #000 ;
    }

    /* 버튼 */
    #gameStart_btn{  
        width :440px;
        height: 140px;
        background-color: #ee5139;
        font-size: 4em;
        font-family: 'Jua', sans-serif;
        color: white; 
        border-radius: 30px;

        /*버튼 가운데 정렬*/
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    #helpPng{
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 70px;
        right: 100px;
    }
    /*버튼 누를 시 효과*/
    #gameStart_btn:hover{
        background-color: blue;
        color: aliceblue;
    }
    
    

