    /* 메인 화면 */
    
    /*폰트*/
    @font-face {
        font-family: 'cooper';
        src: url('CooperFiveOpti.otf');
    }

    /*배경*/
    body {
        background-color: RGB(255,255,153); 
        /*background-image: url('../img/햄버거감튀.png'),url('../img/콜라치킨.png'),url('../img/햄버거감튀.png'),url('../img/콜라치킨.png'),url('../img/햄버거감튀.png'),
        url('../img/콜라치킨.png'),url('../img/햄버거감튀.png'),url('../img/콜라치킨.png'); 
        background-position: 0px 0px, 70px 100px, 0px 200px, 70px 300px, 0px 400px, 70px 500px, 0px 600px, 70px 800px;
        background-repeat: repeat-x;*/
        
        /*animation: displace 4s linear infinite;
       {
        from { background-position: 0px 0px, 70px 100px, 0px 200px, 70px 300px, 0px 400px, 70px 500px, 0px 600px, 70px 800px;} 
        to { background-position: center 1200px; }
       } */

    }

    /*타이틀*/
    #title{
        margin: 150px auto auto auto;
        font-size: 7em;
        font-family: cooper;
        color: #41A541;
        text-align: center;
        text-shadow:  8px 13px rgba(0, 0, 0, 0.16) ;
        
        /*text-shadow: -4px 0  #000 ;*/
    }

    /* 버튼 가운데 맞추기 위한 div */
    #menu_div{
        margin-top: 130px;
        text-align: center;
    }

    /* 버튼 */
    #gameStart_btn, #help_btn, #rank_btn{  
        width :380px;
        height: 100px;
        margin: 0 auto;
        margin-top: 60px;
        background-color: #ee5139;
        font-size: 3em;
        font-family: 'Jua', sans-serif;
        color: white; 
        border-radius: 40px;
    }
    
    #rank_div{
        text-align: center;
    }

    #storePng{
        float: right;
        margin-top: 30px;
        margin-right: 50px;
    }

    /*버튼 누를 시 효과*/
#gameStart_btn:hover{
    background-color: blue;
    color: aliceblue;
}
    
    

