#progress{
    width: 600px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#disc{
    text-align: center;
    margin-top: 300px;
    font-size: 3em;
    font-family: 'Jua', sans-serif;
}

#failRound{
    width: 1000px;
    height: 300px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-500px;
    margin-top:-300px;

    text-align: center;
    font-size: 7em;
    font-family: 'Righteous', cursive;
}

#btnDiv{
    width: 100vw;
    height: 200px;
    position:absolute;
    top: 50%;

    text-align: center;
}

#goMainBtn, #retryBtn, #rankingBtn{
    width: 180px;
    height: 70px;
    background-color: white;

    margin: 70px;
    font-size: 2em;
    font-family: 'Viga', sans-serif;
    border-radius: 10px;
}

#scoreDiv{
    width: 500px;
    height: 30px;

    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-50px;

    text-align: center;
    font-size: 3em;
    font-family: 'Righteous', cursive;
}

#gameClearDiv{
    width: 1000px;
    height: 100px;
    position:absolute;
    left:50%;
    top:200px;
    margin-left:-500px;

    text-align: center;
    font-size: 8em;
    font-family: 'Righteous', cursive;
}