body{
    /*background-image: url('../img/round1/health.jpg');
    background-size: cover;*/
    height:700px;
    background: url('../img/round1/health(2).jpg') 0 center/ 1500px repeat-x;
    /* movebg라는 키프레임을 발생시키는데 100%까지 발생되는 시간은 2초, 일정하게 진행하고(linear), 무한 반복을 한다(infinite)*/
    animation: movebg 6s linear infinite; 
   
}

/*keyframes의 이름은 movebg이고 0%일때 정화면, 100%일때 가로넓이 값인 -500px로 위치 변경*/
@keyframes movebg{
    0% {background-position:0 center;}
    100% {background-position:  -1500px center;}
}


#progress{
    width: 600px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#heart{
    width: 600px;
    height: 100px;
    position: absolute;
    left: 30%;
    transform: translate(-50%, 0%);
}

#disc{
    text-align: center;
    margin-top: 300px;
    font-size: 3em;
    font-family: 'Jua', sans-serif;
}

#failRound{
    width: 1000px;
    height: 300px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-500px;
    margin-top:-300px;

    font-style: red;
    text-align: center;
    font-size: 7em;
    font-family: 'Luckiest Guy', cursive; 
}

#btnDiv{
    width: 100vw;
    height: 200px;
    position:absolute;
    top: 50%;

    text-align: center;
}


#goMainBtn, #retryBtn{
    width: 170px;
    height: 80px;
    background-color: white;

    margin: 70px;
    font-size: 2em;
    font-family: 'Luckiest Guy', cursive;
}