
.card_div{
    text-align: center;
}

/* 카드 */ 
.card{
    background-color: aqua;
    width: 200px;
    height: 240px;
    margin-left: 50px;
    margin-top: 80px;
    display: inline-block;
    border: 1px solid black;
}
