#progress{
    width: 600px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
#disc{
    text-align: center;
    margin-top: 300px;
    font-size: 3em;
    font-family: 'Jua', sans-serif;
}