
.card_div{
    text-align: center;
}

/* 카드 */ 
.card{
    background-color: aqua;
    width: 160px;
    height: 210px;
    margin-left: 50px;
    margin-top: 80px;
    display: inline-block;
    border: 1px solid black;
}

#next_btn{
    width: 160px;
    height: 100px;
    font-size: 2em;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 0%);
}