@font-face {
    font-family: 'cooper';
    src: url('CooperFiveOpti.otf');
}

body {
    background-image: url('../img/back.jpg');
    background-position: center;
    background-size:cover;
    text-align: center;
}

#title{
    margin-top: 30px;
    font-size: 7em;
    font-family: cooper;
    color: #F5E716;
    text-align: center;
    text-shadow: -4px 0  #000 ;
}
#item_div{
    text-align: center;
}
#item{
    width: 200px;
    height: 300px;
    background-color: white;
    margin-top: 30px;
    margin: 60px;
    display:inline-block;
    vertical-align:middle;
}

#btn_div{
    text-align: center;
    margin-top: 500px;
}
#buy_btn{  
    width :500px;
    height: 100px;
    background-color: #f16751;
    font-size: 3em;
    font-family: cooper;
    color:black; 
    border-radius: 40px;
}

/* 메인 가는 버튼 */
#goMain_btn{
    float: left;
}